
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'messageTabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'messageTabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'Id emeteur' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="1" [disabled]="true" placeholder="{{'Id emeteur' | translate}}" [(ngModel)]="item.idEmeteur"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'Id destinataire' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="2" [disabled]="true" placeholder="{{'Id destinataire' | translate}}" [(ngModel)]="item.idDestinataire"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'Message' | translate}}</label>
                        <textarea id="3" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'Message' | translate}}"  [(ngModel)]="item.message"></textarea>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'Date envoi' | translate}}</label>
                        <p-calendar id="4" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'Date envoi' | translate}}"  [(ngModel)]="item.dateEnvoi" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field align-inputswitch col-12  md:col-6">
                        <div  class="label-inputswitch">
                            <label for="5">{{'Replied' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch id="5"  [disabled]="true" [(ngModel)]="item.replied"></p-inputSwitch>
                        </div>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



