        <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'messageTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'messageTabPan' | translate}}">
                        <div class="grid">


                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'messageIdEmeteur' | translate}}</label>
                                            <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="1"
                                                           placeholder="{{'messageIdEmeteur' | translate}}" [(ngModel)]="item.idEmeteur"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="2">{{'messageIdDestinataire' | translate}}</label>
                                            <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="2"
                                                           placeholder="{{'messageIdDestinataire' | translate}}" [(ngModel)]="item.idDestinataire"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="3">{{'messageMessage' | translate}}</label>
                                            <textarea appendTo="body" id="3" pInputTextarea rows="5" cols="30" placeholder="{{'messageMessage' | translate}}"  [(ngModel)]="item.message"
                                                     ></textarea>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="4">{{'messageDateEnvoi' | translate}}</label>
                                            <p-calendar appendTo="body" id="4"   [showTime]="true" [showSeconds]="false" placeholder="{{'messageDateEnvoi' | translate}}"  [(ngModel)]="item.dateEnvoi"
                                                      >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="field align-inputswitch col-12  md:col-6">
                                            <div  class="label-inputswitch">
                                                <label for="5">{{'messageReplied' | translate}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch   appendTo="body" id="5"  [(ngModel)]="item.replied"
                                                         >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>
            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-footer">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>



    </p-dialog>
